<footer>
    <div [@animateFooter]>
        <!-- Desktop View -->
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)="analyticsService.sendAnalyticEvent('click_linkedin', 'footer', 'linkedin')"
                   href="https://www.linkedin.com/in/pratik-nemade-9p/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>

        <div class="footer-right-bar d-none d-md-block">
            <a (click)="analyticsService.sendAnalyticEvent('click_send_mail', 'footer', 'email')"
               href="mailto:prtiknemade@gmail.com" target="_blank">
               prtiknemade@gmail.com
            </a>
        </div>
    </div>

    

    <div class="footer-credits text-center"></div>
</footer>
